app/sql/local.sql
logs/nginx/error.log
logs/php/error.log
conf/mysql/my.cnf.hbs
conf/nginx/nginx.conf.hbs
conf/nginx/site.conf.hbs
conf/nginx/includes/gzip.conf.hbs
conf/nginx/includes/mime-types.conf.hbs
conf/nginx/includes/restrictions.conf.hbs
conf/nginx/includes/wordpress-multi.conf.hbs
conf/nginx/includes/wordpress-single.conf.hbs
conf/php/php-fpm.conf.hbs
conf/php/php.ini.hbs
conf/php/php-fpm.d/www.conf.hbs
app/bedrock/web/app/mu-plugins/wp-migrate-db-pro-compatibility.php
app/bedrock/composer.json
app/bedrock/composer.lock
app/bedrock/web/app/wflogs/.htaccess
app/bedrock/web/app/wflogs/attack-data.php
app/bedrock/web/app/wflogs/config-livewaf.php
app/bedrock/web/app/wflogs/config-synced.php
app/bedrock/web/app/wflogs/config-transient.php
app/bedrock/web/app/wflogs/config.php
app/bedrock/web/app/wflogs/GeoLite2-Country.mmdb
app/bedrock/web/app/wflogs/ips.php
app/bedrock/web/app/wflogs/rules.php
app/bedrock/web/app/wflogs/template.php
app/bedrock/composer.json
.gitignore
